body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  background: url('./countryside-2326787_1280.jpg') no-repeat center center/cover;
  position: relative;
}


 .overlay {
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
  position: fixed; /* Use fixed to ensure it covers the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
  z-index: 0; /* Ensure it stays below other elements */
}


.heading_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  z-index: 1;
}

h1 {
  color: #fff;
  font-size: 48px;
}

h3 {
  color: #ccc;
}

/* Map container styling */
.leaflet-container {
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

/* Responsive design for map container */
@media (max-width: 768px) {
  .leaflet-container {
    height: 300px;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .leaflet-container {
    height: 500px;
    width: 90%;
  }
}
